:root {
  --main-color: #ff4300;
  --main-text-color: #fff;
  --heading-text-size: 1.2rem;
  --hero-text-size: 2rem;
  --head-font-Weight: 200;
  --stack-gap: 1rem;
  --margin--top-val: 5rem;
}

.btn {
  background-color: var(--main-color);
  border: none;
  padding-left: 1rem;
  padding-right: 2rem;
  min-height: 2.5rem;
  color: var(--main-text-color);
  /* min-width: 9rem; */
  clip-path: polygon(
    30% 0%,
    100% 0,
    96% 40%,
    93% 73%,
    90% 100%,
    30% 100%,
    0 100%,
    0 0
  );
}
body{
  background-color: #1e1e1e;
}

/* div{
  display: inline-block
} */
.coolbtn {
  background-color: var(--main-color);
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 2.5rem;
  width: 100%;
  color: var(--main-text-color);
  clip-path: polygon(16% 0, 100% 0%, 84% 100%, 0% 100%);
}

.align-start {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.widthRestrict {
  max-width: 35rem;
  /* margin-top: 10rem; */
  /* background-color: #ff4300; */
}
.widthRestrict2 {
  max-width: 50rem;
}

.paddingButtom {
  padding-bottom: 2rem;
}

.smallText {
  color: #fff;
  font-family: Outfit;
  font-weight: 500;
  line-height: 2rem;
}

.btnRestrict {
  max-width: 15rem;
}

.flexBox {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.centerText {
  display: flex;
  text-align: center;
  justify-content: center;
}

.relativePic {
  position: relative;
}

.absoluteRecDiv {
  margin-top: -12.5rem;

  clip-path: polygon(26% 39%, 100% 4%, 100% 100%, 20% 100%, 0 100%, 0% 50%);
  background-color: var(--main-color);
  border-radius: 13px;
  padding: 6rem;
  z-index: -1;
}

.responsive {
  /* width: calc(100%); */
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}
.imagePading {
  padding: 1rem;
}

.flexBox {
  display: flex;
  gap: 1rem;
}

.circle {
  padding: 0.4rem;
  background-color: var(--main-color);
  border-radius: 50%;
}
.white-circle {
  padding: 0.4rem;
  background-color: var(--main-text-color);
  border-radius: 50%;
}

.highLightText {
  font-family: Outfit;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--main-text-color);
}

.paddingButtom {
  padding-bottom: 2rem;
}
.paddingTop {
  padding-top: 5rem;
}

/* hideMobile */
.hide {
  display: none;
}
.transition {
  transition: all 1s;
}

html {
  scroll-behavior: smooth;
}

.pieMenueStack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 12;
}

.relative {
  position: relative;
}

.position1 {
  position: absolute;
  top: 1rem;
  right: 0rem;
}
.position2 {
  position: absolute;
  top: 0rem;
  right: 0rem;
}
.rotate1 {
  /* position: absolute; */
  /* rotate: 1 1  0 60deg; */
  rotate: -45deg;
  position: absolute;
  top: 0rem;
  right: 0rem;
}
.rotate2 {
  /* rotate: 1 1 0 60deg; */
  rotate: 45deg;
}

.piemenu1 {
  padding: 0.1rem;
  background-color: #fff;
  min-width: 2rem;
}

.piemenu2 {
  padding: 0.1rem;
  background-color: #fff;
  min-width: 2rem;
}
.piemenu3 {
  padding: 0.1rem;
  background-color: #fff;
  min-width: 2rem;
}

@media only screen and (max-width: 280px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mainPadding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* line-height: .3rem; */
  }
  .marginTop {
    margin-top: 3rem;
  }
  .hideMobileAndTab {
    display: none;
  }
  .heroImage {
    background-image: url("../public/hero.png");
    background-repeat: no-repeat;
    width: 100vw;
    /* height: auto; */
    background-size: 400%;
    /* position: relative; */
    z-index: -2;
  }
  .flexBox2 {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .hideDesktop {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mainPadding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* line-height: .3rem; */
  }
  .marginTop {
    margin-top: 3rem;
  }
  .hideMobileAndTab {
    display: none;
  }
  .heroImage {
    background-image: url("../public/hero.png");
    background-repeat: no-repeat;
    width: 100vw;
    /* height: auto; */
    background-size: 500%;
    /* position: relative; */
    z-index: -2;
  }
  .flexBox2 {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .hideDesktop {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mainPadding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* line-height: .3rem; */
  }
  .marginTop {
    margin-top: var(--margin--top-val);
  }
  .hideMobileAndTab {
    display: none;
  }
  .heroImage {
    background-image: url("../public/hero.png");
    background-repeat: no-repeat;
    width: 100vw;
    /* height: 100vh; */
    /* height: auto; */
    background-size: 200%;
    /* position: relative; */
    z-index: -2;
  }
  .flexBox2 {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .hideDesktop {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mainPadding {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .stack {
    display: flex;
    flex-direction: column;
    gap: var(--stack-gap);
    /* line-height: .3rem; */
  }
  .marginTop {
    margin-top: var(--margin--top-val);
  }
  .hideMobileAndTab {
    display: flex;
  }
  .heroImage {
    background-image: url("../public/hero.png");
    background-repeat: no-repeat;
    width: 100vw;
    /* height: auto; */
    height: 100vh;
    background-size: 120%;
    /* position: relative; */
    z-index: -2;
  }
  .flexBox2 {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .hideDesktop {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mainPadding {
    padding-left: 11rem;
    padding-right: 11rem;
  }
  .heroImage {
    background-image: url("../public/hero.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    /* position: relative; */
    z-index: -2;
  }

  .stack {
    display: flex;
    flex-direction: column;
    gap: var(--stack-gap);
    /* line-height: .3rem; */
  }
  .marginTop {
    margin-top: 10rem;
  }
  .hideMobileAndTab {
    display: flex;
  }
  .flexBox2 {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .hideDesktop {
    display: none;
  }
}

/* mobile menue */
.MobileMenue {
  position: absolute;
  top: 0rem;
  /* display: none; */
  left: 0rem;
  width: 100vw;
  height: 0vh;
  background-color: #1e1e1e;
  z-index: 1;
}

.MobileMenueContent{
  display: none;

}
.AddtoDom{
  display: block;
  /* opacity: 0; */
}



.slideIn {
  position: absolute;
  left: 0rem;
  width: 100vw;
  height: 100vh;
  /* display: block; */
}

.outlineBtn{
  border: 4px solid var(--main-text-color);
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 2.5rem;
  width: 100%;
  color: var(--main-text-color);
  background-color: transparent;
  /* clip-path: polygon(16% 0, 100% 0%, 84% 100%, 0% 100%); */
  clip-path: polygon(5% 0, 100% 0%, 94% 100%, 0% 100%);

}

/* animations */
.sideSlide {
  opacity: 0;
  /* filter: blur(2px); */
  transform: translateX(-5%);
  transition: all 0.5s;
}


.SlideUp {
  opacity: 0;
  filter: blur(2px);
  transform: translatey(5%);
  transition: all .5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  rotate: 0deg;
}

.rightSlide {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(5%);
  transition: all 1s;
}



.group:nth-child(2) {
  transition-delay: 200ms;
}
.group:nth-child(3) {
  transition-delay: 400ms;
}
.group:nth-child(4) {
  transition-delay: 600ms;
}
.group:nth-child(5) {
  transition-delay: 800ms;
}
.group:nth-child(6) {
  transition-delay: 1000ms;
}
.group:nth-child(7) {
  transition-delay: 1200ms;
}
.group:nth-child(8) {
  transition-delay: 1400ms;
}
.group:nth-child(9) {
  transition-delay: 1600ms;
}
.group:nth-child(10) {
  transition-delay: 1800ms;
}

