/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mainText {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4%;
    font-family: Orbitron;
    color: var(--main-text-color);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mainText {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4%;
    font-family: Orbitron;
    color: var(--main-text-color);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mainText {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4%;
    font-family: Orbitron;
    color: var(--main-text-color);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mainText {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4%;
    font-family: Orbitron;
    color: var(--main-text-color);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mainText {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 4%;
    font-family: Orbitron;
    color: var(--main-text-color);
  }
}
